body {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

h1 {
    font-family: 'Copperplate Gothic';
    color: red;
}

header {
    padding-bottom: 10px;
    border-bottom: 2px dotted blue;
    margin-bottom: 10px;
}

    header h1 {
        margin-left: 20px;
        text-align: center;
        display: inline-block;
    }
